@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@font-face {
  font-family: father;
  src: url("../fonts/Corleone.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
  font-family: 'Dela Gothic One', cursive;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* List */

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}


/* Icons */
.faq {
  padding: 0 5rem;
}
.faq__header {
  margin-bottom: 5rem;
}
.faq__contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon-container {
  width: 64px;
  height: 64px;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon--white {
  fill: #3354AC;
}
.icon--primary {
  fill: var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .faq__contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Collapsibles */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* Container */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*Block */

.block {
  width: 100%;
  padding: 10rem 0;
  background-color: ;
  border-bottom: 2px solid #fff;
}
.block-black {
  background-color: ;
  color: #fff;
}
.block__header {
  text-align: center;
}
.block__header {
  color: rgb(51,84,172);
  letter-spacing: 5px;
}

@media screen and (min-width: 768px) {
  .block__info {
    align-self: stretch;
    padding-top: 2rem;
    text-align: left;
    width: 400px;
    color:rgb(51,84,172);
  }
}

/* Nav */

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid rgb(51,84,172);
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__brand {
  width: 100px;
  height: 70px;
  padding: 5px 0;
}
.nav__brand img {
  max-height: 100%;
}
.nav__toggler {
  margin-bottom: 5px;
}
.nav__item {
  list-style: none;
}
.nav__item > a {
  text-decoration: none;
  color: rgb(51,84,172);
  transition: all 0.3s;
  font-size: 2.4rem;
}
.nav__item a:hover {
  color: black;
}

/* Nav-Desktop */
@media screen and (min-width: 768px) {
  .nav {
    background-color: white;
    border: 0;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    opacity: 1;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav__item {
    margin-right: 5rem;
  }
}

/* Hero */

.hero {
  display: flex;
  background: black;
  z-index: 1;
  border-bottom: 2px solid white;
  padding-top: 2rem;
}
.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.hero__title {
  font-family: 'Dela Gothic One', cursive;
  /*font-family: 'Fredoka One', cursive;*/
  color: white;
  letter-spacing: 1px;
}
.hero__content {
  position: absolute;
  z-index: 3;
}

/* Hero-Mobile */
@media screen and (max-width: 767px) {
  .hero {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 420px;
  }
  .hero__content {
    top: 250px;
    text-align: center;
  }
  .hero__img {
    height: 400px;
  }
  .hero__title {
    font-size: 3rem;
    color: white;
  }
  .hero__content p {
    font-size: 1.6rem;
  }
}
/* Hero-Desktop */
@media screen and (min-width: 768px) {
  .hero {
    height: 720px;
  }
  .hero__img {
    height: 700px;
    left: -30rem;
    z-index: 2;
  }
  .hero__content {
    z-index: 3;
    right: 10rem;
    align-self: center;
  }
}

/* About */

.about {
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
.about__header {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 5px;
}

/* About-Mobile */
@media screen and (max-width: 767px) {
  .about__content {
    flex-direction: column;
  }
  .about__img {
    width: 350px;
  }
}

/* About-Desktop */

@media screen and (min-width: 768px) {
  .about__content {
    flex-direction: row;
  }
  .about__info {
    align-self: stretch;
    padding-top: 2rem;
  }
  .about__img {
    width: 400px;
  }
}

/* Tokenomics */

.tokenomics {
  padding: 2rem;
}
.tokenomics__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

/* Tokenomics-Mobile */
@media screen and (max-width: 767px) {
  .tokenomics__content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .tokenomics .block__info {
    color: var(--color-body);
  }
  .graph {
    margin-top: 2rem;
    width: 300px;
    transform: translateX(-10px);
  }
}
/* Tokenomics-Desktop */
@media screen and (min-width: 768px) {
  .tokenomics__content {
    flex-wrap: wrap;
  }
  .tokenomics__img {
    width: 300px;
    border-radius: 2rem;
  }
  .graph {
    width: 750px;
  }
}

/* Roadmap */
.roadmap {
  font-family: 'Fredoka One', cursive;
}
.roadmap__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  margin-top: 4rem;
  max-width: 1500px;
}
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(51,84,172);
  border-radius: 2rem;
  color: #fff;
  width: 350px;
  height: 600px;
  padding: 2rem;
}
.card__heading {
  text-align: center;
  justify-self: flex-start;
  color: #fff;
  letter-spacing: 5px;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card__item {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 250px;
}
.card__item img {
  width: 40px;
  justify-self: left;
}
.card__item p {
  margin-top: 2rem;
  font-weight: 400;
  font-style: italic;
}
/* Roadmap-Mobile */

@media screen and (max-width: 767px) {
  .roadmap__content {
    flex-direction: column;
  }
  .card {
    width: 300px;
  }
}

/* Gallery */

.gallery__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 5rem;
}
.gallery img {
  width: 300px;
}
/* Gallery-Mobile */

@media screen and (max-width: 767px) {
  .gallery {
    flex-direction: column;
  }
}


/* FAQ MEDIA */

.media {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  max-width: 350px;
}

ul {
  list-style-type: none;
}
.media__heading {
  color: #fff;
  margin-top: 0;
}
.media__content {
  margin: 0 2rem;
}
.media__image {
  margin-bottom: 8rem;
}
.media__body {
  margin-left: 2rem;
  font-family: 'Fredoka One', cursive;;
}

.media__body h3 {
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Fredoka One', cursive;;
}
.media__body p {
  color: rgb(51,84,172);
}
.faq__header {
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 400;
  color:rgb(51,84,172) ;
}
.faq__icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(51,84,172);
  box-shadow: none;
  border-radius: 50%;
  flex: 0 0 auto;
}
.faq__img {
  max-width: 15px;
}
.faq .grid--1x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  word-break: break-word;
}
@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .faq .grid--1x2 {
    grid-template-columns: 1fr;
    width: 50%;
    margin-left: 6rem;
    word-break: break-word;
  }
}
@media only screen and (max-width: 450px) {
  .faq .grid--1x2 {
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .media {
    align-items: center;

    flex-direction: column;

    align-content: center;
    justify-content: center;
  }
  .faq__icon {
    margin: 0;
  }
}

/* Footer */
.footer {
  border: 0;
  border-top: 2px solid rgb(51,84,172);
}
.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.footer__content i {
  font-size: 50px;
  color: rgb(51,84,172);
  border-radius: 50%;
  cursor: pointer;
}

.footer__content * {
  transition: all 0.3s;
}
.footer__content *:hover {
  transform: translateY(-15px);
}
.opensea {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.opensea:hover {
  content: src();
}
